.item {
    background-color: #ffa50033;
    padding: 20px 10px;
    margin: 20px auto;
    border-left: 3px solid orange;
    text-align: left;
}

.item div {
    font-weight: bold;
}

.item p {
    margin: 0;
    padding-top: 15px;
}